<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">


	<test name="Orange HRM Test Cases">
	<parameter name = "browser" value = "chrome"/>
		<classes>
			<class name="com.tests.LoginTest"></class>
		</classes>
	</test>
</suite>